
.navbar, .navbar-item{
    /*line-height: 20%;*/
    /*height: 20%;*/
    /*padding-top: 0;*/
    background-color: rgb(222, 237, 246) !important;
    color: rgb(96, 150, 180 );

}

.navbar-menu{
    margin-left: 65%;
}